@import "./rootVariables.css";

.mainBody {
  display: flex;
  max-width: var(--page-max-width);
  margin: 0 auto;
  padding: 15px;
  gap: 15px;
}

.side-panel {
  flex: 1;
}

.resume-display {
  flex: 2;
}