@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --page-max-width: 1500px;
    --primary-font-color: #999999;
    --secondary-font-color: #e91d63;
    --darker-grey: #424242;
    --primary-font-family: 'Roboto', sans-serif;
    --regular-font-size: 1.1 rem;
    --title-font-size: 2rem;
    --clickedButtonShadow: inset 0px 0px 3px grey;
  }